/* CSS Document */
@charset "utf-8";

@font-face {
    font-family: "DejaVu Sans";
    src: url("./~tuzes/Scripts-n-styles/fonts/DejaVuSans.ttf");
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("./~tuzes/Scripts-n-styles/fonts/DejaVuSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("./~tuzes/Scripts-n-styles/fonts/DejaVuSans-Oblique.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("./~tuzes/Scripts-n-styles/fonts/DejaVuSans-BoldOblique.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

@font-face {
    font-family: "STIX";
    src: url("./~tuzes/Scripts-n-styles/fonts/STIXMath-Regular.otf.ttf");
}
@font-face {
    font-family: "STIX";
    src: url("./~tuzes/Scripts-n-styles/fonts/STIX-Bold.otf.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "STIX";
    src: url("./~tuzes/Scripts-n-styles/fonts/STIX-Italic.otf.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "STIX";
    src: url("./~tuzes/Scripts-n-styles/fonts/STIX-BoldItalic.otf.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

body {
	font-family: "DejaVu Sans",sans-serif;
}

math {
	font-family: "STIX";
}

#toc    {
	font-family:tahoma, arial;
}