@charset "utf-8";
body {

}
.off {
	opacity:0.4;
/*	color:#666;*/
}
.off:hover {
	opacity:1;
/*	color:#000;*/
}
li {
	margin-top: 6px;
	margin-bottom: 12px;
}
math {
	font-size:110%;
	white-space:nowrap;
}
.small
{
	font-size:80%;
	line-height:120%;
}
code {
	white-space:nowrap;
	font-family:"Courier New", Courier, monospace;
}

.fffg {
	font-size:75%;
	background-color: rgba(255,244,244,1);
	border: 1px solid #999;
	min-width:470px;
	line-height:1.5em;
	padding: 0em;
	margin-top: 0.5em;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

.fffg > p, .fffg > section {
	padding: 1em;
}

body > .CollapsiblePanel {
	max-width: 64%;
	min-width:470px;
}
.CollapsiblePanel p, .CollapsiblePanel ol, .CollapsiblePanel ul{
}

.active {
	font-style: italic;
	font-weight: bolder;
	color: #900;
}
p.descr:before {
	content: "Hiba megjelenése: ";
	font-weight:bold;
}
.descr, .reason, .solution {
	padding-bottom: 0.5em;
}
p.reason:before {
	content: "Hiba oka: ";
	font-weight:bold;
}
p.solution:before {
	content: "Megoldás:";
	font-weight:bold;
}
h1, h2, h3, h4, h5 {
	font-weight:bold;
}

h1 {
	font-size:160%;
}

h2 {
	font-size:145%;
}
h3 {
	font-size:130%;
}
h4 {
	font-size:115%;
}
h5 {
	font-size:100%; 
}
h6 {
	font-size: 90%;
}

.figcontainer {
	text-align: center;
	color: #007973;
	padding: 1em;
	background-color:#F7F7F7;
	padding: 1em;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	display: block;
	margin: 10px auto 20px auto;
	font-size:90%;
}

.figcontainer p {
	max-width:360px;
	display:block;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	}
	
.figcontainer .figcaption {
	max-width:360px;
	margin-left: auto;
	line-height: 130%;
	margin-right: auto;
}
.figcontainer figure {
	display:inline-table;
	margin: 10px 10px 20px 10px;
	}

figure {
	font-size:90%;
	background-color: rgba(255,255,255,1);
	padding: 1em;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	display: table;
	margin: 10px auto 20px auto;
	text-align: center;
}
figcaption {
	line-height: 130%;
	display: block;
	color:#007973;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}
figure img {
	display: inline-block;
}

nav {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: bold;
}
nav a:link, nav a:visited {
	text-decoration: none;
}
nav a:hover {
	text-decoration:underline;
	color:#000;
}

table, th, td {
	text-align:center;
	border: 1px solid #333;
}
table {
	border-collapse:collapse
}